.DS_Store
*~
*dat
elpa/**/*
backups/**/*
auto-save-list/**/*
places
bookmarks
.smex-items
tramp
autosaves/
url/
swank/
.emacs.desktop
kmarti05*
ext/todochiku-icons/**
.org-id-locations
el-get/**/*
.swm
.swn
.swo
*#
ido.last
helm-adaptive-history
projectile-bookmarks.eld
recentf
request
history
