.DS_Store
*~
*dat
elpa/**/*
ext/plantuml.*
backups/**/*
auto-save-list/**/*
places
bookmarks
.smex-items
tramp
autosaves/
url/
swank/
.emacs.desktop
init-user-*
.org-id-locations
el-get/**/*
.swm
.swn
.swo
*#
ido.last
helm-adaptive-history
projectile-bookmarks.eld
recentf
request
history
custom.el
ext-archive
projectile.cache
elpa-archive
ac-comphist.dat
history
smex-items
.python-environments